/* About.css */

.aboutcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.aboutcontainer header {
    text-align: left;
    width: 100%;
}

.aboutcontainer .section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e6e8f2;
    /* Light background color */
    border-radius: 8px;
    /* Rounded corners for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for depth */
}

.aboutcontainer .section:not(:last-child) {
    border-bottom: 1px solid #ccc;
    /* Border between sections */
}

.aboutcontainer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    /* Adjust color as per your design */
    text-align: center;
    /* Center align heading */
}

.aboutcontainer p {
    line-height: 1.6;
    color: #666;
    /* Adjust color as per your design */
}