/* Login.css */

.loginContainer {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e6e8f2;
    text-align: center;
}

.headlogin {
    margin-top: 5px;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
}

.loginform {
    margin-top: 10px;
    text-align: left;
    /* Align form elements to the left */
}

.loginform label {
    display: block;
    /* Ensure labels are displayed as block elements */
    text-align: left;
    /* Align label text to the left */
    margin-bottom: 1px;
    /* Add a small margin below each label */
}

.logininput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
    /* Ensure padding and border are included in width calculation */
}

.LSubmit {
    margin-top: 20px;
    text-align: center;
}

.loginSubmit {
    padding: 10px 20px;
    /* Increase padding for better touch target */
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #35bde6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    /* Ensure button is inline on smaller screens */
}

.loginSubmit:hover {
    background-color: #137083;
}

/* Media Query for Responsive Design */

@media (max-width: 600px) {
    .loginContainer {
        padding: 15px;
    }

    .loginSubmit {
        padding: 8px 16px;
    }
}