/* Notes.css */

.notesHeader {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modal-dialog {
    max-width: 600px;
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

.btn-primary {
    background-color: rgb(53, 189, 230);
    border-color: rgb(53, 189, 230);
}

.btn-primary:hover {
    background-color: rgb(19, 112, 143);
    border-color: rgb(19, 112, 143);
}