/* Signup.css */

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e6e8f2;
    text-align: center;
}

.heading {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    text-decoration: underline;
}

.form_input {
    margin-top: 2px;
    text-align: left;
}

.Sinput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.form_input label {
    display: block;
    text-align: left;
}

.form_input small {
    display: block;
    text-align: left;
    color: #666;
}

.btn-primary {
    padding: 5px 10px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #35bde6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: #137083;
}

.text-danger {
    color: red;
}